/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes extencion {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@keyframes opacitys {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-weight);
  background-image:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-attachment: fixed;
}

.header-block {
  background-color: white;
  width: var(--block-width);
  display: grid;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin-block-start: 100px;
  margin-block-end: 100px;
  height: clamp(327px, 312.5px + 3.854vw, 368px);
  border: solid 2px rgba(0, 0, 0, 1);
}

.header-title {
  font-family: var(--acsent-font), fantasy;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.text-header-block {
  display: grid;
  gap: 20px;
  justify-items: center;
}

.header-title-small {
  font-family: var(--acsent-font), fantasy;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: grid;
  justify-self: center;
  width: var(--block-width);
  gap: 50px;
}
.card {
  border: solid 2px rgba(0, 0, 0, 1);
  width: var(--block-width);
}
.card-title {
  background-color: white;
  font-variation-settings: "wght" var(--card-font-weight);
  font-size: 18px;
  padding: 4px 10px 4px 10px;
}

.image-wrapper {
  position: relative;
}

.card-img {
  border-block-start: solid 2px rgba(0, 0, 0, 1);
  border-block-end: solid 2px rgba(0, 0, 0, 1);
  object-fit: cover;
  display: block;
  width: 100%;
  max-height: clamp(371px, 256.56px + 30.52vw, 696px);
}
.work {
  filter: contrast(150%);
}

.clear {
  filter: blur(1.5px);
}

.thoughts {
  filter: brightness(250%);
}

.perfect {
  filter: grayscale(1);
}

.love {
  filter: saturate(200%);
}

.pointer {
  filter: sepia(100%);
}

.hands {
  filter: invert(1);
}

.road {
  filter: hue-rotate(90deg) blur(1.5px) brightness(150%);
}

.label {
  font-family: var(--acsent-font), fantasy;
  font-size: 14px;
  position: absolute;
  top: 25px;
  right: 25px;
  color: rgba(0, 0, 0, 1);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 1px rgba(255, 255, 255, 1);
}

@supports (
  (text-stroke: 1px rgba(255, 255, 255, 1)) or
    (-webkit-text-stroke: 1px rgba(255, 255, 255, 1))
) {
  .label {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
    text-stroke: 1px rgba(255, 255, 255, 1);
    text-shadow: none;
  }
}
.about-card {
  background-color: white;
}

.card-text {
  display: grid;
  gap: 25px;
  font-weight: 410;
  font-size: 18px;
  margin: 0 25px 25px 25px;
  padding-block-start: 28px;
  line-height: 21px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-inline-end: 25px;
  padding-block-end: 25px;
  gap: 4px;
}

.card__icon-button {
  box-sizing: content-box;
  background-color: transparent;
  width: 39px;
  height: 34px;
  padding: 0;
  transition: border-color 0.3s ease;
  border: 2px solid rgba(0, 0, 0, 0);
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: rgba(0, 0, 0, 1);
}

.like-icon {
  transform-origin: center;
}

.card__like-button {
  height: 38px;
  width: 130px;
  padding: 0;
}
.disk-logo {
  filter: invert(1);
  mix-blend-mode: difference;
}
.button__text {
  position: relative;
  mix-blend-mode: difference;
  color: white;
}

.button-shadow {
  transition: box-shadow 0.3s ease;
  position: relative;
}
.button-shadow:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

.button-scale::before {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button-scale:hover::before {
  transform: scaleX(1);
}

.save {
  display: grid;
  justify-content: center;
}
.interaction-buttons {
  border: solid 2px rgba(0, 0, 0, 1);
  font-family: var(--acsent-font), fantasy;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 1);
}
.save-button {
  height: 55px;
  width: 335px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-block-end: 100px;
}
.window {
  display: grid;
  justify-content: center;
  padding: 0;
}
.popup[open] {
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
}
.popover-text {
  display: flex;
  gap: 20px;
  margin: 30px;
  align-items: center;
}
.popover-button-text {
  text-transform: uppercase;
  font-family: var(--acsent-font), fantasy;
  font-size: 14px;
  max-width: 234px;
  line-height: 150%;
}
.popover-button {
  min-width: 293px;
  min-height: 38px;
  margin: 0 30px 30px 30px;
  font-size: 14px;
}
.popup[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
.contour {
  fill: var(--counter-fill);
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.sparks {
  fill: var(--sparks-color);
  opacity: 0;
}

.like-icon:hover .core {
  fill: black;
  transition: fill linear 0.3s;
}

.like-icon:hover .main-body {
  fill: black;
  transition: fill linear 0.3s 0.05s;
}

.like-icon:active .core {
  fill: red;
  transition: fill linear 0.3s;
}

.like-icon:active .main-body {
  fill: red;
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: red;
  transition: fill linear 0.3s;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill linear 0.3s 0.06s;
}
.like-icon.is-liked .sparks {
  animation: opacitys 0.3s 0.3s ease-in;
}

.like-icon.is-liked .heart {
  animation: extencion 0.3s 0.1s ease-in;
  transform-origin: center;
}

@media (width <=375px) {
  .footer-button {
    flex-direction: column;
    padding: 17px 0 17px 0;
    width: 306px;
  }
  .disk-logo {
    width: 28px;
    height: 28px;
  }
  .popover-button {
    max-width: 261px;
    min-width: 261px;
    margin: 0 35px 30px 35px;
    padding: 0;
  }
  .window-logo {
    width: 39px;
    height: 39px;
  }
  .popover-text {
    margin: 30px 35px 30px 35px;
    padding: 0;
  }
  .popover-button-text {
    max-width: 200px;
  }

  .save-button {
    height: 84px;
    width: 306px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 8px;
    align-items: center;
    padding: 0;
  }
}
